body {
    font-family: 'segoe ui light'; /*fakhry*/
}

/*fakhry*/
nav {
    position: relative;
}

#navSearch input{
    display: none;
    width: 300px;
}

#firstSection {
    margin-top: 70px;
    height: 720px;
    background-color: rgba(245, 245, 245, 0.164);
}

#welcomeImg {
    position: relative;
    height: 350px;
}

#welcomeImg .slides {
    position: absolute;
    top: -20;
    bottom: 0;
    left:-10;
}

#headerDescr {
    padding: 20px;
}

.backColor {
    background-color: rgba(128, 128, 128, 0.219);
}

#firstSection .col-md-12{
    height: 500px;
}

/*fakhryEnd*/

/*Mostafa*/
/*MostafaEnd*/

/*Yasser*/
/*YasserEnd*/

/*Anas*/
/*AnasEnd*/

/*Shireen*/
/*ShireenEnd*/