body {
    font-family: 'segoe ui light'; /*fakhry*/
    position: relative;
}

/*fakhry*/
nav {
    position: relative;
}

#navSearch input{
    display: none;
    width: 300px;
}

#fadeEffect {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 50;
}

#firstSection {
    margin-top: 70px;
    height: 720px;
    background-color: rgba(245, 245, 245, 0.164);
}

#welcomeImg {
    position: relative;
    height: 350px;
}

#welcomeImg .slides {
    position: absolute;
    top: -20;
    bottom: 0;
    left:-10;
}

#headerDescr {
    padding: 20px;
}

.backColor {
    background-color: rgba(128, 128, 128, 0.219);
}

/*fakhryEnd*/

/*Mostafa*/
.item{

    position: relative;
    
}
.title {
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 10%;
    width: 80%;
    left: 10%;
    transition: .5s;
    opacity: 0;
    border-radius: 10px;
}

.item {
    overflow: hidden;
    border-radius: 15px;
}

.item img {
    transition: .5s;
    border-radius: 15px;
}
.item img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.item:hover .title {
    opacity: 1;
    transition: .75s;
    transform: scale(1.1);
}

/*MostafaEnd*/

/*-- yaser---*/
#sidebar
{
    margin-top: 50px;
    height: 0px;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
/*-- yaserEnd---*/

/*--Fakhry--*/
#sidebar button {
    width: 100%;
    padding-left: 15px;
    height: 50px;
}

/*Anas*/
/*AnasEnd*/

/*Shireen*/
/*ShireenEnd*/