body {
    font-family: 'segoe ui light';
}

nav {
    position: relative;
}

#navSearch input{
    display: none;
    width: 300px;
}

#firstSection {
    margin-top: 70px;
    height: 570px;
}

#welcomeImg {
    position: relative;
    height: 350px;
}

#welcomeImg .slides {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    top:0;
}

